<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>Kursantlar bo'limiga xush kelibsiz</h2>
        {% if root%}
        <div style="border: 2px dotted">
            <h3>Ism:{{root.ism}}</h3>
            <h3>Familiya:{{root.familiya}}</h3>
            <h3>Guruh:{{root.guruh.nomi}}</h3>
        </div>

        {%else%}
            {% for i in kursantcha%}
            <h3>Kursant:<a href="{% url 'kursantlar' pk=i.id %}"> {{i}}</a></h3>
            {%endfor%}
        {%endif%}


</body>
</html>